<div class="container-fluid  ">
  <div class="row ">
    <div class="col-lg-12 text-center border ">
      <ul class="nav flex-column">


        <li class="nav-item">
          <a class="btn btn-success btn-sm" href="/dashboard/add_product" role="button">Add Products</a>
        </li>
        <li class="nav-item my-2">
          <!-- <a class="nav-link" href="/dashboard/view_product">View Product</a> -->
          <a class="btn btn-warning btn-sm " href="/dashboard/view_product" role="button">View Products</a>
        </li>
        <li class="nav-item ">
          <!-- <a class="nav-link" href="/dashboard/view_register">View register</a> -->
          <a class="btn btn-danger btn-sm" href="/dashboard/view_register" role="button">Registered user</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success btn-sm mt-1" href="/dashboard/view_contact_form" role="button">Complaints</a>
        </li>

      </ul>
    </div>
  </div>
</div>