<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">

<%- include('./common/header.ejs')%> 


    </div>

    <div class="container">
        <img src="test8.jpg" width="100px" height="100px">
    </div>


    <%- include('./common/footer.ejs')%> 
</body>
</html> -->